<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Irrigar | Contacto</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="icon" type="image/png" href="/navbar/hoja.png">
</head>

<style>
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
    }

    body {
        background-image: url(/navbar/back.jpg);
        background-size: fill;
    }

    .contenedor {
        width: 70%;
        margin: auto;

    }

    section {
        width: 100%;
    }

    .contactanos {
        background-color: white;
        height: 1000px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 50px;
    }

    .textoContacto {
        height: 160px;
        padding: 10px;
        width: 100%
    }

    .textoContacto h1 {
        font-size: 34px;
        font-weight: 300;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .textoContacto h1 b {
        font-weight: 700;
    }

    .textoContacto p {
        font-size: 20px;
        font-weight: 300;
    }

    .contenedor-mensaje {
        background-color: #f5f5f5;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 70%;
        padding: 30px;
        border-radius: 12px;
        height: 550px;
        /* box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

    }

    .mensaje {
        height: 850px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .mensaje h3 {
        margin-top: 30px;
        font-size: 25px;
        margin-bottom: -40px;

    }

    form {

        width: 80%;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 40px;
    }

    .input-form {
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        padding: 25px;
    }

    .input-form label {
        margin-bottom: 5px;
    }

    .input-form input {
        height: 40px;
        border: 1px solid lightgrey;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: -30px;
    }

    .input-form input:focus {
        border: 1px solid grey;
        outline: none;
    }


    textarea {
        height: 120px;
        border: 1px solid lightgrey;
        border-radius: 5px;
        padding: 10px;
        resize: none;
    }

    textarea:focus {
        border: 1px solid grey;
        outline: none;
    }

    form button {
        background-color: #5B9A1F;
        color: white;
        padding: 10px;
        font-size: 16px;
        margin-left: 25px;
        border: none;
        border-radius: 7px;
        width: 180px;
        cursor: pointer;
        transition: background .5s;
    }

    form button:hover {
        background-color: #447418;
    }



    .info {
        background-color: #F5F5F5;
        height: 500px;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contenedor-info {
        background-color: white;
        width: 65%;
        height: 320px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        border-radius: 10px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .tituloInfo {
        margin-bottom: 15px;
    }

    .last {
        font-size: 40px;
        margin-top: 10px;
        cursor: pointer;
        z-index: 3;
        width: 300px;
        display: flex;
        justify-content: space-evenly;

    }

    .last a {
        z-index: 9;
        color: #5B9A1F;
        text-decoration: none;
        transition: transform .3s;
    }

    .last a:hover {
        transform: scale(1.20);
    }



    footer {
        height: 300px;
        background-color: #5B9A1F;
    }

    @media (max-width: 1200px) {
        .contenedor {
            width: 90%;

        }

        .contactanos,
        .contenedor-mensaje,
        .info {
            width: 100%;
        }

        .textoContacto {
            height: 500px;
        }

        .contactanos {
            padding: 20px;
            height: 1000px;
        }

        .textoContacto h1 {
            font-size: 28px;
        }

        .textoContacto p {
            font-size: 18px;
        }

        .mensaje {
            height: 300px;

        }

        .contenedor-mensaje {
            padding: 20px;

        }

        form {
            width: 100%;
            padding: 20px;
        }
    }

    @media (max-width: 600px) {
        .info {
            height: 700px;
        }

        .contenedor-info {
            height: 90%;
            width: 90%;
            align-items: self-start;
        }
    }
</style>

<%- include('partials/navbar') %>

    <body>
        <div class="contenedor">
            <section class="contactanos">
                <div class="textoContacto">
                    <h1>Comunicate con <b>Nuestro Equipo</b></h1>
                    <p>¡Nos encantaría escucharte! Dejá tus datos y tu mensaje abajo. Estamos aquí para responder todas
                        tus
                        preguntas, dudas o consultas sobre cómo mejorar el riego en tus proyectos.
                        ¡Contanos qué necesitás y estaremos respondiendote a la brevedad!</p>
                </div>

                <div class="mensaje">
                    <div class="contenedor-mensaje">
                        <h3>Envianos un mensaje</h3>
                        <form action="" method="POST">
                            <div class="input-form"><label for="nombre">Nombre</label><input type="text" name="nombre"
                                    id="nombre" required placeholder="Ingrese nombre"></div>
                            <div class="input-form email"><label for="email">Email</label><input type="email"
                                    name="email" id="email" required placeholder="Ingrese email">
                            </div>
                            <div class="input-form"><label for="mensaje">Mensaje</label><textarea name="mensaje"
                                    id="mensaje" required placeholder="Dejenos su mensaje"></textarea></div>
                            <button type="button">Enviar mensaje</button>
                        </form>
                    </div>
                </div>
            </section>
            <section class="info">
                <div class="contenedor-info">
                    <h1 class="tituloInfo">Información de contacto</h1>
                    <div class="infoDato">

                        <p><i class="fas fa-phone"></i> 3518764567 | 3518987765</p>
                    </div>
                    <div class="infoDato">
                        <p><i class="fas fa-at"></i> info@irrigar.com</p>
                    </div>
                    <div class="infoDato">
                        <p><i class="fas fa-map-marker-alt"></i> Av. Siempreviva 123, Oliva, Córdoba</p>
                    </div>
                    <div class="infoDato">
                        <p><i class="far fa-clock"></i> Lunes a viernes de 9:00 a 18:00hs</p>
                    </div>
                    <div class="infoDato last">
                        <a href="https://www.google.com" target="_blank"><i class="fab fa-instagram"></i></i>
                        </a>
                        <a href="https://www.google.com" target="_blank"><i class="fab fa-hashtag"></i></i>
                        </a>
                        <a href="https://www.google.com" target="_blank"><i class="fab fa-facebook-square"></i></i>
                        </a>

                        <a href="https://www.google.com" target="_blank"><i class="fab fa-linkedin"></i></i>
                        </a>

                    </div>
                </div>

            </section>

        </div>
    </body>
    <%- include('partials/footer') %>

</html>