<style>
    footer {
        background-color: #556536;
        color: white;
        height: 270px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 20px;
        flex-wrap: wrap;
    }

    .contenedor-footer {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        width: 100%;
    }

    .footer-section {
        flex: 1;
        margin: 10px;
        min-width: 200px;
        max-width: 300px;
    }

    .footer-section h3 {
        margin-bottom: 15px;
    }

    .footer-section ul {
        list-style: none;
        padding: 0;
        margin-left: 20px;
    }

    .footer-section ul li a {
        color: white;
        text-decoration: none;
        transition: color 0.3s;
    }

    .footer-section ul li a:hover {
        color: #e0e0e0;
    }

    .footer-section p {
        margin: 0;
    }

    .copySection {
        width: 100%;
        height: 100px;
        background-color: #556536;
    }
</style>
</head>

<footer>
    <div class="contenedor-footer">
        <div class="footer-section">
            <h3><i class="fas fa-code"></i> Desarrollo</h3>
            <!-- <p>Esta página web fue diseñada y desarrollada por <i>_devs S.A.</i></p> -->
            <p style="margin-bottom: 10px;">Realizado por <i>_devs S.A</i>.</p>
            <ul>

                <li><i class="fas fa-phone"></i> 3515332992 (Fabrizio)</li>
                <li><i class="fas fa-phone"></i> 3515102545 (Gonzalo)</li>
                <li><i class="fas fa-phone"></i> 3532436458 (Agustín)</li>
            </ul>

        </div>
        <div class="footer-section">
            <h3><i class="fas fa-address-card"></i> Contacto</h3>
            <p>Tel: +54 123 456 7890</p>
            <p>Email: contacto@irrigar.com</p>
            <p>Dirección: Calle Falsa 123, Oliva, Córdoba</p>
        </div>
        <div class="footer-section">
            <h3><i class="fas fa-info-circle"></i> Acerca de Nosotros</h3>
            <p>Nos dedicamos a ofrecer soluciones de riego eficientes para todo tipo de explotaciones agrícolas, desde
                pequeñas granjas familiares hasta grandes fincas.</p>
        </div>
        <div class="footer-section doble">
            <h3><i class="far fa-copyright"></i> Copyright</h3>
            <p>2024 Irrigar S.A.S. Todos los derechos reservados.</p>

        </div>
    </div>
</footer>